*{
  padding: 0;/*SIN RELLENO*/
  margin: 0;/*SIN MARGEN*/
    font-family: serif;/*TIPO DE LETRA*/
}
.p1{
height: 200px;/*ALTO DE LA CAJA*/
width: 1000px;/*ANCHO DE LA CAJA*/
font-size: 30px;/*TAMAÑO DE LETRA*/
text-align: center;/*TEXTO CENTRADO*/
margin-left: 200px;/*TEXRO A LA IZQUIERDA*/
margin-top: -300px;/*CAJA HACIA ABAJO*/
color: white;
position: absolute;
background-color: rgba(0,0,0,0.3);

}
.fondojava{
  margin-top: 25px;
}
.fondojava img{
  width: 100%;
  height: 450px;
}
.pppp{
  margin-left: 220px;/*CAJA A LA IZQUIERDA*/
margin-top: -240px;/*CAJA HACIA ABAJO*/
  height: 80px;/*ALTO DE LA CAJA*/
  width: 960px;/*ANCHO DE LA CAJA*/
  font-size: 23px;/*TAMAÑO DE LA LETRA*/
  color: white;
  position: absolute;
}

.dj_slideshow-container {
  max-width: 1100px;
  position: relative;
  margin-left: 370px;

}
.dj_slideshow-container img{
  width: 250px;
  height: 200px;
  margin-right: 155px;
  margin-left: -150px;
  margin-top: 10px;
  border: 2px black solid;
  background-color: blue;
}
.dot {
  margin-right: 30px;
  margin-left: -10px;
  height: 15px;
  width: 15px;

  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade{
  margin-left: -80px;
   margin-top: 50px;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@media only screen and (max-width:767px){/*RESPONSIVE*/

.p1{
  position: static;
  font-size: 28px;/*TAMAÑO DE LETRA*/
  width: 320px;/*ANCHO DE LA CAJA*/
  height: 330px;
  padding-left: 15px;
  margin-left: 5px;/*CAJA A LA IZQUIERDA*/
  margin-top: -370px;/* CAJA HACIA ARRIBA*/
}
.pppp{
  position: static;
  margin-top: -290px;
  margin-left: 14px;/*CAJA A LA IZQUIERDA*/
  height: 260px;/*ALTO DE LA CAJA*/
  width: 96%;/*ANCHO DE LA CAJA*/
}
.fondojava img{
  height: 400px;
}
.dj_slideshow-container img{
  width: 200px;
  height: 150px;
  margin-left: 40px;
  margin-top: 10px;
  border: 2px black solid;
  display: flex;
  flex-direction: column;
}
.dj_slideshow-container {
  margin-left: 60px;
  width: 170px;
  height: 470px;
}
.fade{
  margin-left: -20px;
   margin-top: 80px;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.dot {
  margin-right: 20px;
  margin-left: 10px;
  height: 15px;
  width: 15px;
  margin-top: 200px;

  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #717171;
}
