*{
  margin: 0;/*SIN MARGEN*/
  padding: 0;/*SIN RELLENO*/
  text-decoration: none;/*SIN DECORACION*/

}
.david2{
height: 1120px;/*ALTO DE LA CAJA*/
margin-top: 50px;/*CAJA HACIA ABAJO*/

}
.img{
  width: 80px;/*ANCHO DE LA CAJA*/
  height: 80px;/*ALTO DE LA CAJA*/
  margin-left: 10px;/*CAJA HACIA LA IZQUIERDA*/
  margin-top: -66px;/*CAJA HACIA ABAJO PERO COMO ESTA EN NEGATIVO SE IRA HACIA ARRIBA*/
}
.d{
  padding-left: 100px;/*TEXTO SE MUEVE A LA IZQUIERDA*/
  margin-top: -80px;/*CAJA HACIA ABAJO*/
  font-size: 32px;/*TAMAÑO DE LETRA*/

}
.david3{
  margin-top: -50px;/*CAJA HACIA ABAJO*/
  width: 100%;/*ANCHO DE LA CAJA*/
height:120px;/*ALTO DE LA CAJA*/
background-color: #078C74;/*COLOR DE LA CAJA*/
}

.nav{
  width: 280px;
  height: 150px;
  margin-left: 77%;
  list-style: none;
  margin-top: -60px;
}

.bt{
  float: left;
  padding: 10px;
  margin-right: 20px;
  color: white;
  font-size: 30px;
  font-weight: 600;
  font-family: serif;
}
.bt:hover{
  color: white;
  background-color: orange;
}
.mas{
  display: flex;
  flex-direction: column;
}
.bt4{
}
.botones4{
   list-style: none;
   display: none;
}
.mostrar{
  display: block;
}
.mas:hover{
  background-color: orange;
  position: absolute;
  margin-left: 113px;
}
.botones4 a{
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
.botones4 a li{
  text-decoration: none;
  color: white;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
}
.botones4 a li:hover{
    background-color: #066A58;
}
@media only screen and (max-width:767px){/*RESPONSIVE*/
.img{
  margin-top:-70px;/*CAJA HACIA ABAJO*/
}
.d{
  font-size: 25px;/*TAMAÑO DE LETRA*/
}
  .david2{
  height: 2200px;/*ALTO DE LA CAJA*/
  }
